version: 2
jobs:
  build:
    docker:
      - image: symbols/packer-virtualbox

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: build image
          command: |
            packer build fedora29_srv.json
            